@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,li,dl{
    list-style:none;
}

a{
    text-decoration:none;
    color: #333;
}

body{
    background-color: #fff;
    color:#333;
}

#wrap{
    width:1200px;
    height:700px;
    margin:0 auto;
}

#header{
    display: flex;
    width:100%;
    height: 100px;
}
#header .logo{
    width:20%;
    height:100%;
    background-color: #56a9d2;
}
.logo>h2{
    color:#fff;
    text-align: center;
    margin-top:30px;
}
#header .nav{
    width:80%;
    height:100%;
    background-color: #474480;
}
.nav{
    z-index: 10;
}
.nav>ul{
    display: flex;
    justify-content: right;
    margin-top:60px;
}
.nav>ul>li{
    position:relative;
}
.nav>ul>li>a{
    display: inline-block;
    padding:10px 40px;
    background: #4baeff;
}
.nav>ul>li>a:hover{
    background-color: #363197;
    color:#fff;
}
.nav>ul>li>ul{
    display: none;
    position: absolute;
    top:41px;
    left:0;
    width:100%;
}
.nav>ul>li>ul>li>a{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    display:inline-block;
    background-color: #fff;
    text-align:center;
}
.nav>ul>li>ul>li>a:hover{
    background-color: #363197;
    color:#fff;
}

#slide{
    width:100%;
    height:300px;
    background-color: #ffe8e8;
    position:relative;
}
#slide>ul>li.s{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#slide>ul>li.s1{
    background-image:url(../images/slider01.jpg)
}
#slide>ul>li.s2{
    background-image:url(../images/slider02.jpg)
}
#slide>ul>li.s3{
    background-image:url(../images/slider03.jpg)
}


#content{
    width: 100%;
    height:200px;
    display: flex;
    background-color: #ffb5b5;
}
#content .content1{
    width:33.3333%;
    height:100%;
    background-color: #2f3f87;
}
.content1 {
    position: relative;
}
.content1 .tabmenu{
    display: flex;
}
.content1 .tabmenu>li{
    width:100px;
    background-color: #fff;
}
.content1 .tabmenu>li.on{
    background-color: #0e73bb;
}
.content1 .tabmenu>li>h3{
    text-align:center;
    display: block;
    padding:5px;
}
.content1 .tabcon{
    position:absolute;
    left:0;
    width:100%;
}
.content1 .notice{
    /* display: none; */
}
.content1 .notice>ul>li{
    display: flex;
    margin-top:5px;
    padding-left:20px;
    color:#fff;
}
.content1 .notice>ul>li>a{
    color:#fff;
    text-decoration: underline;
}
.content1 .notice>ul>li>p{
    padding-left:260px;
}
.content1 .gall{
    padding:30px;
    display:none;
}
.gall>ul{
    display: flex;
    gap:10px;
}
.gall>ul>li{
    width:100px;
    height:100px;
    background-color: #fff;
}
.gall>ul>li.g1{
    background-image: url(../images/gallery01.jpg);
}
.gall>ul>li.g2{
    background-image: url(../images/gallery02.jpg);
}
.gall>ul>li.g3{
    background-image: url(../images/gallery03.jpg);
}

.baner{
    width:33.3333%;
    height:200px;
    background-image: url(../images/banner.jpg);
}
.baner>h2{
    text-align:center;
    margin-top:10px;
    color:#fff;
}
.baner>p{
    margin-top:50px;
    margin-left:145px;
    font-weight: bold;
    padding:5px;
    display: block;
    width:100px;
    height:30px;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius:3px;
}
.link{
    background-image: url(../images/link.jpg);
    width:33.333%;
    height:200px;
    text-align: center;
    /* padding:10px; */
}
.link>h2{
    margin:10px;
    color:#fff;
}
.link>h3{
    text-align: center;
    margin-left: 145px;
    border-radius: 3%;
    margin-top:50px;
    width:100px;
    height:30px;
    background-color:rgba(255, 255, 255, 0.6);
}

#footer{
    width:100%;
    height:100px;
    background: #000;
}