@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,dl,li{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

body{
    background-color: #fff;
    color:#333;
}

#wrap{
    width:100%;
}

#container{
    display: flex;
}

#header{
    width:200px;
    height:800px;
    background-color: skyblue;
}
#header .logo{
    width: 100%;
    height:150px;
    padding:53px 25px;
    color:#fff;
    /* background-color: #FFF; */
}
#header .nav{
    width: 100%;
    height:650px;
}

/*nav*/
.nav>ul>li{
    position:relative;
}
.nav>ul>li>a{
    text-align:center;
    padding:10px;
    display:block;
    background-color: rgb(245, 194, 255);
    color:#656565;
}
.nav>ul>li>a:hover{
    background-color: mediumaquamarine;
    color:#fff;
}
.sub{
    display: none;
    width:calc(100vh - 200px);
    z-index:10;
    position:absolute;
    top:0;
    left:199.3px;
    /* background-color:mediumturquoise; */
}

.sub>li{
    display:inline-block;
}

.sub>li>a{
    width:200px;
    color:#fff;
    display: block;
    padding:10px;
    text-align:center;
}
.sub>li>a:hover{
    background-color: #f4abff;
}
.bg{
    display: none;
    z-index:8;
    position:absolute;
    top:151.975px;
    left:199.3px;
    width:100%;
    height:165px;
    background-color:mediumturquoise;
}



#right{
    position:relative;
    width:calc(100vw - 200px);
    height:800px;

}

.slide{
    width:100%;
    height:400px;
}

/*slide*/
.slide{
    width:100%;
    height:400px;
    position:relative;
}
.slide>ul{
    width:100%;
    height:400px;
}
.slide>ul>li{
    position:absolute;
    width:100%;
    height:400px;
}
.slide>ul>li.s1{
    background: url(../images/slider1.jpg) no-repeat center/cover;
}
.slide>ul>li.s2{
    background: url(../images/slider2.png) no-repeat center/cover;
}
.slide>ul>li.s3{
    background: url(../images/slider3.jpg) no-repeat center/cover;
}

.links{
    width:100%;
    height:150px;
    background-color: #fff;
}
.links>ul{
    align-items: center;
    justify-content: center;
    display:flex;
    padding:15px;

}
.links>ul>li{
    justify-content: space-around;
    text-align: center;
    padding:5px;
    /* color:#fff */
}
.links>ul>li.l1{
    width:120px;
    height:100px;
    margin-right:100px;
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.links>ul>li.l1>a>h3{
    margin-top:97px;
}

.links>ul>li.l2{
    width:120px;
    height:100px;
    margin-right:100px;
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.links>ul>li.l2>a>h3{
    margin-top:97px;
}

.links>ul>li.l3{
    width:120px;
    height:100px;
    margin-right:100px;
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.links>ul>li.l3>a>h3{
    margin-top:97px;
}

.links>ul>li.l4{
    width:120px;
    height:100px;
    margin-right:100px;
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.links>ul>li.l4>a>h3{
    margin-top:97px;
}

.links>ul>li.l5{
    width:120px;
    height:100px;
    margin-right:100px;
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.links>ul>li.l5>a>h3{
    margin-top:97px;
}

.links>ul>li.l6{
    width:120px;
    height:100px;
    margin-right:100px;
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.links>ul>li.l6>a>h3{
    margin-top:97px;
}

.links>ul>li.l7{
    width:120px;
    height:100px;
    margin-right:100px;
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.links>ul>li.l7>a>h3{
    margin-top:97px;
}

.content1{
    position:relative;
    width:400px;
    height:250px;
    background-color: rgb(158, 226, 247);
}

/*tabmenu*/
.tabmenu{
    display: flex;
}
.tabmenu>li{
    padding:10px;
    
}
.tabmenu>li.on>a{
    padding:2px;
    background-color: violet;
}
.tabmenu>li.tab2{
    position:absolute;
    top:0;
    left:80px;
}
.tabcon{
    position: relative;
}
/*notice*/
.notice>li>a{
    display: flex;
    padding:15px;
    justify-content: space-around;
}
.notice>li>a>p{
    padding-left:150px;
}
/*gall*/
.gall{
    display: none;
    width:400px;
    position:absolute;
    top:80px;
    left:-75px;
    }
.gall>li{
    display:inline-block;
    margin-left:5px;
    width:120px;
    height:100px;
}
.gall>li.g1{
    background:url(../images/gallery01.jpg) no-repeat center/cover;
}
.gall>li.g2{
    background:url(../images/gallery02.jpg) no-repeat center/cover;
}
.gall>li.g3{
    background:url(../images/gallery03.jpg) no-repeat center/cover;
}

#footer{
    width:100%;
    height:120px;
    background-color: pink;
}

.popup{
    display: none;
    padding-top:40px;
    text-align:center;
    background-color: skyblue;
    border-radius:3%;
    width:300px;
    height:150px;
    padding-bottom:10px;
    position:absolute;
    top:17%;
    left:50%;
    transform: translate(-17%,-50%);
}